.commentbox {
  padding: 20px;
  text-align: left;
  font: bold 16px "微软雅黑";
  background-color:#F60;
  width: 300px;
}

.control{
	width: 300px;
	height: 24px;
	margin: 20px 0px;
	border-radius:5px;
	border:none;
}
.btn {
	width: 60px;
	height: 25px;
	font: bold 16px "微软雅黑";
	border:none;
	border-radius:5px;
	margin-left:240px;
	
}
.number{
   font: bold 13px "微软雅黑";
   
}