.button{
	float: right; 
	font: bold 12px "微软雅黑";
}
.button button{
	width: 30px;
	height: 20px;
	font: 12px "微软雅黑";
	background:url(zan.png) center no-repeat;
	background-size:contain;
	border-radius:2px;
	border: none;
}
.button span{
	color: red;
	background: unset;
}
