.card{
	width:330px;
	height:200px;
	margin:20px;
	display:inline-block;
	font:bold 14px "微软雅黑";
	color: #333;
	border:1px #666 solid;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #333;
	padding: 7px;
}
.card h1{
	margin-left: 20px;
}
.card span{
	color:#fff;
	margin:5px;
	display: inline-block;
	padding: 2px 3px;
	border-radius: 4px;
	line-height: 14px;
	background-color: red;
};